/* PC,スマホ共通スタイル */
body {
  font-family: "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", sans-serif, Verdana, "メイリオ", "Meiryo",
    "MS Ｐゴシック", "MS PGothic", Sans-Serif;
  max-width: 1080px;
  min-width: 960px;
  margin: 0 auto;
  position: relative;
}
a {
  transition: opacity 0.3s;
  text-decoration: none;
  display: block;
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
}

p {
  font-size: 15px;
  margin: 20px;
  line-height: 1.8rem;
}
.index-h2 {
  font-size: 36px;
  margin-top: 150px;
}

h3 {
  font-size: 24px;
  margin: 30px;
  line-height: 2.5rem;
}
/* PC用スタイル */
/* @media screen and (min-width: 768px) { */
/* ----------------------
  ローディングアニメーション 
   ---------------------- */
.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  inset: 0;
  display: grid;
  place-items: center;
}

.loading_logo img {
  width: 200px;
}
/* ----------------------
  ヘッダー
   ---------------------- */

header {
  max-width: 1080px;
  min-width: 960px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 100;
  gap: 80px;
}
#logo {
  width: 35%;
  padding: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#logo img {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#logo img:first-of-type {
  visibility: visible; /* 通常時は1つ目の画像を表示する */
  opacity: 1;
}

#logo img:last-of-type {
  visibility: hidden; /* 通常時は2つ目の画像を非表示にする */
  opacity: 0;
}

#logo:hover img:first-of-type {
  visibility: hidden; /* ホバー時に1つ目の画像を非表示にする */
  opacity: 0;
}

#logo:hover img:last-of-type {
  visibility: visible; /* ホバー時に2つ目の画像を表示する */
  opacity: 1;
}

#nav-pc {
  font-size: 18px;
  padding: 15px;
  width: 100%;
}
/* 親要素にdisplay: flex;をつけてあげるとgapが効くようになります */
nav {
  display: flex;
  gap: 20px;
  width: 100%;
}

#nav-pc a {
  text-decoration: none;
  /* margin-left: 20px;
		gap: 20px; */
}

#nav-pc a:link {
  color: #0d0d0d;
}
#nav-pc a:visited {
  color: #0d0d0d;
}
#nav-pc a:hover {
  color: #ccc;
  text-decoration: underline;
}
#nav-pc a:active {
  color: #0d0d0d;
}
/* ----------------------
  メインビジュアル
   ---------------------- */

main {
  margin-top: 200px;
}
#main-visual {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 50px;
}
#main-massage {
  color: #000;
  width: 40%;
  position: relative;
  width: 50%;
  animation-name: fadeInAnime;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#main-massage > h1 {
  font-size: 24px;
  margin: 0px 30px 30px 30px;
}
#main-massage > p {
  font-size: 17px;
  margin: 30px;
}
#main-massage > img {
  position: absolute;
  right: 10%;
  bottom: 0;
  width: 45%;
}

.main-photo-sweater {
  width: 70%;
  animation-name: fadeLeftAnime;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.main-photo-sweater {
  width: 100%;
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.main-photo-knit {
  width: 70%;
}
.main-photo-knit img {
  width: 100%;
  animation-name: fadeRightAnime;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* ----------------------
  アバウトアス
   ---------------------- */

#about__inner--top {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.about-text {
  width: 40%;
}
.about-photo {
  width: 60%;
}
#about-photo-seep {
  width: 50%;
  margin-top: 50px;
}
#about-photo-knit {
  width: 70%;
  margin-left: 80px;
}
#about__inner--end {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.about__inner--end-box {
  width: 30%;
}
#about-photo-clothes {
  width: 80%;
  margin-top: 200px;
  margin-left: 50px;
}
#about-photo-girl {
  width: 100%;
}
#about-photo-pen {
  width: 70%;
  margin-top: 180px;
  margin-left: 30px;
}
/* ----------------------
プロダクション
---------------------- */

.production-img-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

#production-clothes,
#production-knit {
  margin-top: 80px;
}
/* モーダル ボタン*/
.button {
  display: block;
  cursor: pointer;
  margin: 0;
  background-color: #fff;
  border: none;
}
.button :hover {
  opacity: 0.7;
}
/* グレー背景 */
.layer {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* 追記 */
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  /* 追記　ふわっと */
  transition: opacity 0.3s linear, visibility 1s linear, z-index 1s linear;
}
/* モーダルコンテンツ */
.modal {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  min-width: 440px;
  /* 追記 */
  opacity: 0;
  visibility: hidden;
  /* 追記　ふわっと */
  transition: visibility.7s linear, opacity 0.7s linear;
}
.modal__inner {
  margin-top: 125px;
  margin-bottom: 125px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  /* モーダルの角を丸める */
  border-radius: 13px;
  display: block;
  padding: 21px 8px;
  height: auto;
}

.modal__contents {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__content {
  width: 50%;
}

.modal__button-wrap {
  position: absolute;
  right: 10px;
  top: -28px;
  display: inline-flex;
}
.close-button {
  position: relative;
  width: 39px;
  height: 39px;
  background: #000;
  border-radius: 50%;
  padding: 0;
  border: transparent;
  cursor: pointer;
}

.close-button span {
  width: 25px;
  height: 2px;
  background: #fff;
  display: inline-block;
  position: absolute;
  left: calc(50% - 12px);
  top: 50%;
  border-radius: 20px;
}

.close-button span:nth-child(1) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.close-button span:nth-child(2) {
  transform: rotate(-45deg) translate(1px, -1px);
}

.layer.is-open {
  z-index: 999;
  opacity: 1;
  visibility: visible;
}

.layer.is-open .modal {
  opacity: 1;
  visibility: visible;
}
/* ----------------------
展示会
---------------------- */
.exhibition-photo-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.ex-photo_home {
  position: relative;
  /* pointer-events: auto; */
  cursor: pointer;
}

.ex-photo_home :hover {
  opacity: 0.7;
}

/* ----------------------
COMPANY
---------------------- */
.company-wrapper {
  display: flex;
  justify-content: space-between;
}
/* ----------------------
お問い合わせ
---------------------- */
#contact {
  margin: 80px auto;
}
.contact-btn {
  width: 50%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-size: 18px;
}

.contact-btn:hover {
  color: #fff;
  background: #000;
}
.index-h2-contact {
  font-size: 36px;
  margin-top: 150px;
  /* 左右いっぱいに伸びた横線 */
  align-items: center; /* 横線を上下中央 */
  display: flex; /* 文字と横線を横並び */
}
.index-h2-contact::before,
.index-h2-contact::after {
  background-color: #1c1c1d; /* 横線の色 */
  border-radius: 1px; /* 横線の両端を丸く */
  content: "";
  flex-grow: 1; /* 横幅いっぱい */
  height: 1px; /* 横線の高さ */
}
.index-h2-contact::before {
  margin-right: 15px; /* 文字との余白 */
}
.index-h2-contact::after {
  margin-left: 15px; /* 文字との余白 */
}
.index-h3-contact {
  text-align: center;
}
/* 外枠 */
#contact > form > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
/* 左列の見出し */
.contact-heading {
  width: 240px;
  align-self: center;
}
/* 見出しのラベル */
.contact-label {
  font-weight: bold;
}
/* 必須 */
.contact-span {
  color: #ce2222;
  margin: 0 0 0 20px;
  font-weight: bold;
}
/* テキストボックス */
.contact-textbox {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  background-color: #fafafa;
  width: 400px;
  height: 56px;
}
/* お問い合わせ内容のテキストエリア */
.contact-textarea {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  background-color: #fafafa;
  width: 400px;
  height: 200px;
}
/* 個人情報の取り扱い */
details {
  width: 700px;
}
details > div {
  background-color: #fafafa;
  padding: 20px;
}
details > div > span {
  font-weight: bold;
}
/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #c1c1c0d1;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
}

/* ----------------------
  フッター
   ---------------------- */
footer {
  background-color: #e9e3d8;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#footer-logo img {
  width: 10%;
  margin: 20px auto;
}

#footer-link {
  display: flex;
  margin: 20px;
}
#footer-link > a {
  text-decoration: none;
  margin: 10px;
  width: 15%;
}
#footer-link > a:link {
  color: #000;
}
#footer-link > a:visited {
  color: #000;
}
#footer-link > a:hover {
  color: #fff;
  text-decoration: underline;
}
#footer-link > a:active {
  color: #fff;
}

#sns-footer {
  display: flex;
  width: 30%;
  margin: 0 auto;
}
#copyright {
  color: #fff;
  width: 100%;
  margin: 20px;
}

td,
th {
  line-height: 2.5rem;
  padding-left: 30px;
}

/* 展示会２０２２HTML */
.ex-logo {
  width: 100%;
  margin-top: 150px;
}
.ex-logo h1 {
  font-size: 36px;
}
.ex-logo img {
  width: 5%;
  margin: 20px;
}
.ex-photo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  padding: 30px;
}
.ex-photo img {
  width: 20%;
}
/* ----------------------
  スマホ
   ---------------------- */
@media screen and (max-width: 767px) {
  header {
    background-color: #fff;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}
